name: Test & Build

on: [push]

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Lint
        run: nix develop --command cargo fmt -- --check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Run tests
        run: nix develop --command cargo test --verbose

  build-sinodude-serial-firmware:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: atmega328p
            features: "--no-default-features --features atmega328p"
          - target: atmega328pb
            features: "--no-default-features --features atmega328pb"
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build firmware (${{ matrix.target }})
        run: nix develop --command bash -c 'cd firmware && RUSTFLAGS="-C target-cpu=${{ matrix.target }}" cargo build --release --verbose ${{ matrix.features }}'
      - name: Generate hex file
        run: nix develop --command bash -c 'cd firmware && avr-objcopy -O ihex target/avr-none/release/sinodude-serial.elf sinodude-serial-${{ matrix.target }}.hex'
      - name: Compress
        working-directory: firmware
        run: |
          mkdir -p ./artifacts
          if [[ $GITHUB_REF_TYPE =~ ^tag$ ]]; then
            TAG=$GITHUB_REF_NAME
          else
            TAG=$GITHUB_SHA
          fi
          tar -czf ./artifacts/sinodude-serial-${{ matrix.target }}-$TAG.tar.gz sinodude-serial-${{ matrix.target }}.hex
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: result-firmware-${{ matrix.target }}
          path: |
            ./firmware/artifacts

  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - TARGET: x86_64-unknown-linux-gnu
            OS: ubuntu-latest
          - TARGET: x86_64-apple-darwin
            OS: macos-latest
          - TARGET: x86_64-pc-windows-msvc
            OS: windows-latest
    needs: test
    runs-on: ${{ matrix.OS }}
    env:
      NAME: sinodude
      TARGET: ${{ matrix.TARGET }}
      OS: ${{ matrix.OS }}
    steps:
      - uses: actions/checkout@v3
      - name: Install libudev (Linux only)
        if: matrix.OS == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y libudev-dev
      - name: Cargo cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ./target
          key: build-cargo-registry-${{matrix.TARGET}}
      - name: Install rust target
        run: rustup target add $TARGET
      - name: Run build
        run: cargo build --release --verbose --target $TARGET
      - name: Compress
        run: |
          mkdir -p ./artifacts
          # windows is the only OS using a different convention for executable file name
          if [[ $OS =~ ^windows.*$ ]]; then
              EXEC=$NAME.exe
          else
          EXEC=$NAME
          fi
          if [[ $GITHUB_REF_TYPE =~ ^tag$ ]]; then
            TAG=$GITHUB_REF_NAME
          else
            TAG=$GITHUB_SHA
          fi
          mv ./target/$TARGET/release/$EXEC ./$EXEC
          tar -czf ./artifacts/$NAME-$TARGET-$TAG.tar.gz $EXEC
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: result-${{ matrix.TARGET }}
          path: |
            ./artifacts

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build, build-sinodude-serial-firmware]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: result-*
          path: ./artifacts
          merge-multiple: true
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          generate_release_notes: true
          files: ./artifacts/*.tar.gz
